@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hover-underline-animation {
    color: rbg(241,77, 244);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    position: relative;
}

.hover-underline-animation:after {
    background-color:rgb(241, 77, 244);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
    width: 100%;
}

.hover-underline-animation:hover:after {
    background-color: rgb(241, 77, 214);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
} 

.wrapper{
    width: 70vw;
    /* justify-content: start; */
    justify-content: flex-start;
    margin:50px auto;
    max-height: 320px;
    align-items:baseline;
    border: 0px solid #ddd;
    display: flex;
    overflow-x:auto;
    
}

.wrapper::-webkit-scrollbar{
    width:0 ;
}

.wrapper .item{
    min-width: 240px;
    border: 1px solid rgb(241, 77, 214);
    height: 240px;
    line-height: 110px;
    text-align: center;
    background-color: white;
    margin-right: 22px;

}

@media (max-width: 767px) { 
    .mobile-menu{
        display: none;
    }

    .menu{
        display: flex;
    }

    .close{
        display: none;
        /* transition: all; */
    }
}

    .nav-border{
        border-bottom: 1px solid pink;
    }


.answerdiv{
    display: none;
}